<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'DM Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td align="center">
            <div class="logo" style="display: flex;flex-direction: row;justify-content: center;gap: 15px;">
              <div class="title" style="display: flex;flex-direction: column;justify-content: center;color: #6658d3;font-size: 40px;">
                <img height="100px" src="https://i.imgur.com/V3qcbmR.png" />
              </div>
              <div class="title" style="display: flex;flex-direction: column;justify-content: center;color: #6658d3;font-size: 40px;">
                <h1>Sandigram</h1>
              </div>
            </div>
          </td>
          <tr>
            <td align="center">
              <div class="heading" style="display: flex;font-size: 30px;line-height: 1.222;font-weight: 500;justify-content: center;gap: 5px;">
                <span style="color:#6658d3">testt</span>'s Monthly Engagement Report
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="content" style="padding: 20px 50px;font-size: 20px;">
                Number of blogs posted: <b>0</b>
              </div>
            </td>
          </tr>
          <tr>
            <td> 
              <div class="content" style="padding: 20px 50px;font-size: 20px;">
                New Followers: <b>0</b>
                <ul>
                  
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="content" style="padding: 20px 50px;font-size: 20px;">
                New Accounts you have followed: <b>0</b>
                <ul>
                  
                </ul>
              </div>
            </td>
          </tr>
      </tr>
  </table>
  </body>
</html>